<div>
  <a href="{{ metadata.appStoreUrl }}" class="dlBtn dlBtn--ios" target="_blank" rel="noopener">Download for iOS on the AppStore</a>
  <a href="{{ metadata.playStoreUrl }}" class="dlBtn dlBtn--android" target="_blank" rel="noopener">Download for Android on the Play Store</a>
</div>
