<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <link rel="stylesheet" href="/_assets/css/main.css" media="screen" type="text/css">

		<title>{{ metadata.title }}{% if title %} - {{ title }}{% endif %}</title>

    <meta name="description" content="Let the Word dwell in you richly" />
    <meta itemprop="description" content="Let the Word dwell in you richly">

    <meta property="og:site_name" content="Bible Trainer" />
    <meta property="og:title" content="Bible Trainer" />

    <meta property="og:url" content="https://www.bibletrainer.co.uk/" />
    <meta property="og:type" content="website" />

    {% if canonical %}
    <link rel="canonical" href="{{ canonical }}" />
    {% endif %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://bibletrainer.co.uk/">
    <meta name="twitter:title" content="Bible Trainer">
    <meta name="twitter:description" content="Let the Word dwell in you richly">
    <meta property="og:description" content="Let the Word dwell in you richly">
    <meta name="twitter:creator" content="@jamesdoc">
    {# <meta name="twitter:image" content="/_assets/img/twitter.jpg">
    <meta property="og:image" content="/_assets/img/twitter.jpg"> #}
  </head>

  <body>
    {{ layoutContent | safe }}
  </body>
</html>
