@use 'vars' as *;
@use "sass:color";

.btHeader {
  background: $c-teal;
  color: $c-white;
  padding: 20px 0;

  @media (min-width: 1000px) {
    border-bottom: 2px solid $c-white;
    padding: 40px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    appearance: none;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%22510%22%20height%3D%2299%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M144.833%2077c-3.767%200-5.363-.25-6.384-.437l-.575-7.18c1.788.25%204.725.437%206.768.437%207.023%200%2012.195-2.56%2011.429-8.24-.83-5.433-7.47-8.304-14.94-8.304-1.852%200-4.023.062-6.002.25l-.447-6.12c1.915.126%205.107.188%206.512.188%204.214%200%208.364-1.81%207.726-6.118-.639-4.495-5.427-6.743-10.918-6.743-2.171%200-4.406.187-5.491.375L132%2028.677c1.405-.375%202.873-.624%206.32-.624%2010.664%200%2017.56%204.932%2018.645%2012.236.766%205.62-2.171%208.304-3.001%208.741%201.724.5%209.194%202.997%2010.47%2011.613C165.84%2070.445%20157.923%2077%20144.835%2077zm28.493-41.053c-2.9%200-4.68-1.967-5.01-3.997-.33-2.475%201.384-4.95%204.548-4.95%202.637%200%204.55%201.967%204.813%204.061.395%202.412-1.12%204.886-4.351%204.886zm1.808%2040l-4.756-33.188%207.8-.496%204.818%2033.684h-7.862zM210.17%2077l-.575-6.758c4.53-1.302%206.635-5.765%205.806-11.531-.766-5.332-5.104-10.416-11.292-10.416-3.828%200-6.699%203.1-7.464%205.89l2.998%2021.513c-5.231-2.356-8.676-7.006-9.378-11.841L185.1%2027.96l7.783-.434%202.998%2019.84c.893-1.86%204.338-5.394%2010.271-5.394%208.294%200%2015.694%206.137%2017.034%2015.87%201.659%2011.098-3.892%2018.042-13.014%2019.158zm23.593-.526L226.63%2027.44l8.049-.44%207.198%2049.474h-8.114zm30.194-34.21c9.696.99%2015.09%207.863%2016.182%2015.293.192%201.672.128%203.654-.065%204.52l-13.42.186-.835-5.82%206.55.247c-.578-4.21-3.788-7.244-7.898-8.05l-.514-6.377zm-17.111%2017.99c-1.002-6.835%201.19-12.807%206.078-15.886l2.318%2017.424c1.002%205.48%206.641%208.62%2012.343%208.62%204.762%200%209.085-.985%2011.34-2.955l2.381%205.787C278.801%2075.4%20273.727%2077%20267.21%2077c-10.965%200-18.922-6.526-20.363-16.747zm35.4-24.084l-.94-7.591c.063.121.439.304%201.002.304h32.068c.376%200%20.69.182.69%200l.939%207.59c-.188-.182-.564-.424-1.003-.424h-32.067c-.564%200-.69-.122-.69.121zm18.634%2040.304c.187-.063%200-.125-.062-.688l-3.74-26.68h8.04l3.678%2026.18c.062.563.312.875.374.938l-8.29.25zm22.28-13.685l-2.95-19.736h7.886l.706%203.826c1.218-2.551%203.654-4.616%208.398-4.616%201.411%200%202.886.365%204.04%201.033l-1.219%207.348c-.769-.85-2.051-1.761-3.975-1.761-3.333%200-5.321%202.064-6.347%205.222l1.347%208.684h-7.886zM366.734%2077c-9.46-.25-17.66-7.912-18.984-17.382-1.45-10.218%205.109-17.881%2014.885-17.881%205.172%200%208.956%202.99%2010.28%204.86l-.567-4.05h7.568l3.406%2023.425c.441%202.804%201.324%204.549%203.153%204.549.568%200%201.073-.125%201.262-.499l2.397%203.8C389.377%2075.506%20387.232%2077%20383.7%2077c-2.27%200-5.991-1.121-7.253-4.548l-2.712-18.94c-1.577-2.679-5.109-5.607-9.965-5.607-5.676%200-9.397%204.423-8.451%2010.965.883%206.043%205.487%2011.152%2010.91%2011.837l.505%206.293zm28.45-41.053c-2.9%200-4.68-1.967-5.01-3.997-.33-2.475%201.384-4.95%204.549-4.95%202.637%200%204.548%201.967%204.812%204.061.396%202.412-1.12%204.886-4.351%204.886zm2.334%2040l-4.756-33.188%207.799-.496%204.819%2033.684h-7.862zm15.487-13.017l-2.894-20.378h7.8l.818%204.828c1.383-2.32%204.906-5.643%2010.252-5.643%207.737%200%2012.077%204.138%2013.398%2013.418l2.956%2021.319H437.6l-2.894-20.817c-.566-3.825-3.711-6.459-7.108-6.459-3.71%200-6.415%202.32-8.05%205.644l1.257%208.088h-7.8zm54.937-20.667c9.696.99%2015.09%207.864%2016.18%2015.294.194%201.672.13%203.654-.063%204.52l-13.42.186-.835-5.82%206.55.247c-.579-4.21-3.79-7.244-7.899-8.05l-.513-6.377zm-17.112%2017.99c-1.002-6.834%201.19-12.806%206.078-15.885l2.318%2017.424c1.003%205.48%206.642%208.62%2012.343%208.62%204.762%200%209.085-.985%2011.34-2.955l2.382%205.787C482.784%2075.4%20477.709%2077%20471.193%2077c-10.964%200-18.922-6.526-20.363-16.747zm41.09%202.536l-2.95-19.736h7.887l.705%203.826c1.218-2.551%203.654-4.616%208.399-4.616%201.41%200%202.885.365%204.039%201.033l-1.218%207.348c-.77-.85-2.052-1.761-3.975-1.761-3.334%200-5.322%202.064-6.347%205.222l1.346%208.684h-7.886z%22%2F%3E%3Cpath%20d%3D%22M72.074%2076.724c-1.174%203.71-3.436%205.564-6.784%205.564H8.79c-2.081%200-3.768%201.782-3.768%203.981%200%202.2%201.687%203.982%203.767%203.982H67.33c4.699%200%208.789-3.212%209.903-7.776l16.202-66.366c3.387.78%205.923%203.967%205.923%207.781%200%20.711-.09%201.42-.268%202.106l-17.213%2066.36c-.898%203.46-3.872%205.858-7.266%205.858H10.045C4.497%2098.214%200%2093.461%200%2087.597v-5.31L20.332%203.906C20.93%201.599%2022.913%200%2025.175%200H81.78c4.16%200%207.534%203.565%207.534%207.963%200%20.712-.09%201.42-.268%202.106l-1.52%205.858h.085L72.074%2076.724zM36.83%2031.854l-1.674%207.963h18.415l1.675-7.964H36.83zm28.179%200h-1.184l-1.674%207.963h1.351c.189%200%20.351-.132.39-.317l1.507-7.167a.398.398%200%200%200-.39-.48zm-39.407%207.963h1.184l1.674-7.964h-1.351a.398.398%200%200%200-.39.317l-1.506%207.167a.398.398%200%200%200%20.39.48zM63.544%2023.89h-4.532L53.99%2047.78h4.7c.187%200%20.35-.132.389-.316l4.855-23.094a.398.398%200%200%200-.39-.48zM26.858%2047.78h4.532l5.022-23.89h-4.7a.398.398%200%200%200-.389.316L26.468%2047.3a.398.398%200%200%200%20.39.48z%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 49px;
    max-width: 254px;
    text-align: left;
    text-decoration: none;
    text-indent: -999em;
    width: 100%;

    @media (max-width: 520px) {
      margin: 0 auto;
    }
  }

  a {
    background-color: $c-darkTeal;
    color: $c-white;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;

    &:hover {
      background-color: color.adjust($c-darkTeal, $lightness: 20%);
    }

    @media (max-width: 520px) {
      display: none;
    }
  }
}
