$c-teal: #206d73;
$c-darkTeal: #082c2f;
$c-white: #ffffff;
$c-grey: #c0bfbe;

@import 'reboot';
@import 'downloadButtons';
@import 'header';

.btMast {
  background: $c-darkTeal;
  background: linear-gradient(to bottom, $c-teal 0%,$c-darkTeal 100%);
  color: $c-white;

  .container {
    position: relative;

    &:before {
      background-image: url("/_assets/img/singlePhone.png");
      background-size: cover;
      content: "";
      height: 325px;
      width: 323px;
      display: block;
      margin: auto;
    }

    @media (min-width: 1000px) {
      margin: 0 50%;
      max-width: 512px;
      padding: 50px 12px;
      width: 50%;

      &:before {
        height: 650px;
        left: -500px;
        position: absolute;
        top: 125px;
      }
    }

  }

  &__headline {
    font-size: 44px;
    line-height: 44px;

    @media (max-width: 1000px) {
      border-top: 2px solid white;
      text-align: center;
    }

    span {
      display: block;
      font-size: 55px;
      font-weight: normal;
      text-transform: lowercase;
    }
  }

  &__download {
    margin-top: 100px;
    padding-bottom: 10px;

    @media (max-width: 1000px) {
      text-align: center;
      margin-top: 25px;
    }

    h2 {
      color: $c-grey;
      font-size: 22px;
      font-weight: normal;
      margin-bottom: 10px;
      text-transform: none;
    }
  }
}

.btQuote {
  margin: 25px 0;

  .container {
    @media (min-width: 1000px) {
      margin: 0 0 0 50%;
      max-width: 512px;
      padding: 50px 12px;
      width: 50%;
    }
  }

  blockquote {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-right: 175px;
    position: relative;

    &:after {
      background-image: url('/_assets/img/piper.png');
      background-size: cover;
      border-radius: 50%;
      content: '';
      display: block;
      height: 150px;
      position: absolute;
      right: 0;
      top: 10px;
      width: 150px;
    }
  }

  cite {
    font-style: normal;

    span {
      display: block;
      font-weight: bold;
    }
  }
}

.btFeatures {

  .container {
    position: relative;
    padding: 0 200px 0 12px;

    &:after {
      background-image: url("/_assets/img/phones.png");
      background-size: cover;
      content: "";
      position: absolute;
      height: 200px;
      width: 160px;
      right: 10px;
      top: 65px;
    }

    @media (min-width: 1000px) {
      margin: 0 50% 0 auto;
      max-width: 500px;
      padding: 50px 12px;
      width: 50%;

      &:after {
        right: -400px;
        top: 125px;
        height: 400px;
        width: 320px;
      }
    }

  }

  h1 {
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__feature {
    h2 {
      display: flex;
    }

    &__tag {
      background-color: $c-teal;
      border-radius: 5px;
      color: $c-white;
      font-size: 12px;
      margin-left: 5px;
      padding: 5px;
    }
  }
}

.btDownload {
  background-image: url('/_assets/img/footBackground.jpg');
  background-size: cover;
  color: $c-white;
  padding: 100px 0;

  .container {
    display: flex;
    flex-direction: column;
    @media (min-width: 1000px) {
      min-height: 500px;
    }
  }

  p {
    font-size: 32px;
    margin: 0 0 50px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');
