---
layout: layouts/base.njk
---

<header class="btHeader">
  <div class="container">
    <h1 class="btHeader__logo bt-text">Bible<span> </span>Trainer</h1>
    <a href="#download">Download Now</a>
  </div>
</header>

<section class="btMast">
  <div class="container">
    <div class="btMast__headline">
      <h2>Let the word <span>dwell in you richly</span></h2>
    </div>

    <div class="btMast__download">
      <h2>Download now for iOS and Android</h2>
      {% include "_appLinks.njk" %}
    </div>
  </div>
</section>

<section class="btQuote">
  <div class="container">
    <blockquote cite="https://www.desiringgod.org/books/when-i-dont-desire-god">
      &ldquo;I spend this much time on Bible memory because I believe in the power of the indwelling Word of God to solve a thousand problems before they happen, and to heal a thousand wounds after they happen, and to kill a thousand sins in the moment of temptation, and to sweeten a thousand days with the ‘drippings of the honeycomb’.&rdquo;
    </blockquote>

    <cite><span>John Piper</span> When I Don't Desire God</cite>
  </div>
</section>

<section class="btFeatures" id="features">
  <div class="container">
    <h1>Memorisation</h1>
    <ul>
      {% for feature in features %}
      <li class="btFeatures__feature" id="feature-{{ feature.title | slug }}">
        <h2>
          {{ feature.title }}
          {% if feature.tag %}
            <span class="btFeatures__feature__tag">
            {{ feature.tag }}
            </span>
          {% endif %}
        </h2>
        <p>{{ feature.description }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="btDownload" id="download">
  <div class="container">
    <h1>Start memorising now</h1>
    <p><span class="bt-text">Bible<span> </span>Trainer</span> is free</p>
    {% include "_appLinks.njk" %}
  </div>
</section>

<footer>
</footer>
